html {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #000;
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px; }

.page-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.page-header__contact {
  max-width: 195px;
  padding: 18px 35px 18px 20px;
  color: #89316e;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff2fb; }

.page-header__tel {
  padding-left: 20px;
  color: #89316e;
  font-size: 16px;
  font-weight: 400;
  background-image: url("../img/tel.svg");
  background-repeat: no-repeat;
  background-position: left center; }

.page-header__address {
  padding-left: 20px;
  margin: 0;
  margin-top: 15px;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: left center; }

@media screen and (min-width: 1024px) {
  .page-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; } }

.navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.navigation__link {
  display: block;
  padding: 38px 0 33px;
  color: #89316e;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 5px solid transparent; }
  .navigation__link--active {
    border-bottom: 5px solid #fd7400; }
  .navigation__link:hover {
    border-bottom: 5px solid #fd7400; }

@media screen and (min-width: 1024px) {
  .navigation__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 40px; } }

.banner {
  min-height: 632px;
  padding: 170px 0 70px;
  color: #89316e;
  background-color: #f9f2dd;
  background-image: url("../img/back-banner.png");
  background-repeat: no-repeat;
  background-position: 70%; }

.banner__title {
  margin: 0;
  max-width: 630px;
  font-size: 48px;
  font-weight: 900; }

.banner__span {
  margin: 0;
  color: #fe6700;
  font-weight: 500; }

.banner__subtitle {
  margin: 0;
  font-size: 48px;
  font-weight: 300; }

.banner__text {
  margin: 0;
  color: #89316e;
  font-size: 29px;
  font-weight: 300;
  line-height: 37.82px; }

.advantage-prew {
  padding: 160px 25px;
  min-height: 667px;
  background-color: #f4f4f4;
  background-image: url("../img/back-advantage.png");
  background-repeat: no-repeat;
  background-position: 20%; }

.advantage-prew__content {
  max-width: 630px;
  margin-left: auto; }

.advantage-prew__black-block {
  max-width: 411px;
  padding: 25px;
  color: #ffffff;
  font-size: 31px;
  font-weight: 400;
  line-height: 37.51px;
  background-color: #40383d; }

.advantage-prew__white-block {
  position: relative;
  max-width: 570px;
  padding: 25px 80px 25px 25px;
  color: #575656;
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
  -webkit-box-shadow: 0 2px 20px rgba(62, 31, 9, 0.19);
          box-shadow: 0 2px 20px rgba(62, 31, 9, 0.19);
  background-color: #ffffff; }

.advantage-prew__block-img {
  position: absolute;
  top: 35px;
  right: -40px; }

.advantage {
  margin-top: -250px;
  padding: 150px 0 0;
  background-image: url("../img/cloud.png");
  background-repeat: no-repeat;
  background-position: 0 -125px; }

.advantage__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px auto; }

.advantage__item {
  -webkit-flex-basis: 570px;
      -ms-flex-preferred-size: 570px;
          flex-basis: 570px;
  min-height: 330px;
  padding: 30px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: bottom right; }
  .advantage__item--1 {
    background-color: #F9F3DE;
    background-image: url("../img/adv1.png"); }
  .advantage__item--2 {
    background-color: #FFF2FB;
    background-image: url("../img/adv2.png"); }
  .advantage__item--3 {
    background-color: #FFF2FB;
    background-image: url("../img/adv3.png"); }
  .advantage__item--4 {
    background-color: #F9F3DE;
    background-image: url("../img/adv4.png"); }

.advantage__item-title {
  margin: 0;
  color: #89316e;
  font-size: 30px;
  font-weight: 300;
  line-height: 34.8px; }
  .advantage__item-title--span {
    font-weight: 700; }

.advantage__item-text {
  max-width: 250px;
  color: #474747;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; }
