.page-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-header__contact {
	max-width: 195px;
	padding: 18px 35px 18px 20px;
	color: #89316e;	
	font-size: 14px;
	font-weight: 400;
	background-color: #fff2fb;
}

.page-header__tel {	
	padding-left: 20px;
	color: #89316e;
	font-size: 16px;
	font-weight: 400;
	background-image: url('../img/tel.svg');
	background-repeat: no-repeat;
	background-position: left center;
}

.page-header__address {
	padding-left: 20px;
	margin: 0;
	margin-top: 15px;
	background-image: url('../img/pin.svg');
	background-repeat: no-repeat;
	background-position: left center;
}

@media screen and (min-width: 1024px) {
	.page-header {		
		flex-direction: row;
	}
}