.block2 {
  padding: 130px 15px 0;
  margin: -100px 0 0;
  background-image: url("../img/block2-back.jpg");
  overflow: hidden;
}

.block2__wrapper {
  @include container;
}

.block2__content {
  position: relative;
  max-width: 940px;
  padding: 15px;
  background-color: #ffffff91;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -360px;
    width: 70%;
    height: 500px;
    background-image: url("../img/uzi-img.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.block2__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #89316E;
}

.block2__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #5D5D61;
}

@media screen and (min-width: 768px) {
  .block2 {
    padding: 130px 25px 0;
  }

  .block2__content {
    padding: 10px 236px 10px 60px;
    background-color: #ffffff;
  }
}
