.block3 {
  padding: 10px 25px;
  background-color: #FFEDB8;
}

.block3__wrapper {
  @include container;
}

.block3__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #89316E;
  text-align: center;
}

.block3__list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    position: relative;
    margin-bottom: 3.45%;
    padding: 10px 30px;
    background-color: #ffffff;
    color: #474747;

    &::before {
      content: "";
      position: absolute;
      top: 40px;
      left: -15px;
      width: 31px;
      height: 31px;
      background: #F9F2DD;
      transform: rotate(45deg);
      border: 6px solid #FF5F00;
    }
  }
}

.block3__item-title {
  font-size: 18px;
  font-weight: 400px;
  line-height: 20px;
}

.block3__item-text {
  color: #89316e;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .block3__list {
    li {
      width: 31%;
    }
  }
}
