html {
  margin: 0;
  padding: 0; 
}

body {
  width: 100%;
  font-family: 'Roboto', 'Tahoma', sans-serif;  
  font-size: 20px;
  font-weight: 400;
  color: #000;
  overflow-x:hidden; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #000;
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px; }